pre {
    -webkit-box-shadow: rgb(251, 251, 252) 40px 0px 0px 0px inset, rgb(236, 236, 240) 41px 0px 0px 0px inset;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgb(251, 251, 252) 40px 0px 0px 0px inset, rgb(236, 236, 240) 41px 0px 0px 0px inset;
    box-sizing: border-box;
    clear: both;
    display: block;
    font-family: Monaco, monospace, Menlo, Consolas, 'Courier New';
    font-size: 13px;
    font-weight: normal;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    color: #222;
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
pre.prettyprint {
    border-color: #C3C3C3;
}
.pre-scrollable {
    max-height: 500px;
    overflow-y: scroll;
}
.com {
    color: #999;
}
.lit {
    color: #195f91;
}
.pun, .opn, .clo {
    color: #93a1a1;
}
.fun {
    color: #dc322f;
}
.str, .atv {
    color: #D44950;
}
.kwd, .prettyprint .tag {
    color: #2F6F9F;
}
.typ, .atn, .dec, .var {
    color: #4F9FCF;
}
.pln {
    color: #333;
}
.prettyprint {
    max-width: 800px;
    max-height: 640px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px 15px;
    background-color: #FFF;
}
.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
            box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums {
    margin: 0;
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    list-style: decimal;
}

.L1, .L3, .L5, .L7, .L9 {
    background: none!important;
    text-indent: 0;
}